html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.media.message {border-bottom: 1px solid;padding-bottom: 12px}
button.transparent {
-webkit-appearance: none;
padding: 0;
cursor: pointer;
background: transparent;
border: 0;
}
.transparent {
float: right;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=20);
opacity: .2;
}
.transparent:hover, .transparent:focus {
color: #000;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=50);
opacity: .5;
}
.padding-15 {padding: 15px}
.lgn {position: fixed;top: 25%;right: 0%;width: 15%!important}
.bottom-dashed {border-bottom: 1px dashed black}
.pointer {cursor: pointer}
#login-box {display: none}
.alert {position: fixed;width: 100%;margin: 0;z-index: 10000}
#success-message {display: none}
#error-message {display: none}
/* mail */
.mail{font-size:12px;display:block;position:relative;border-top:1em solid transparent;height:0;width:0}
.mail:before{content: '';top: -1.23em;left: -1.5em;display: block;position: absolute;border-left: 1.5em solid transparent;border-right: 1.5em solid transparent;border-bottom: 1em solid transparent;font-size: 0.8em}
.mail-1 {border-left:1.5em solid #DBDBDB;border-right:1.5em solid #DBDBDB;border-bottom:1em solid #DBDBDB}
.mail-2 {border-left:1.5em solid #2c2c2c;border-right:1.5em solid #2c2c2c;border-bottom:1em solid #2c2c2c}
.mail-3 {border-left:1.5em solid #EB9292;border-right:1.5em solid #EB9292;border-bottom:1em solid #EB9292}
.mail-4 {border-left:1.5em solid #FABE00;border-right:1.5em solid #FABE00;border-bottom:1em solid #FABE00}
.mail-1:before{border-top: 1em solid #DBDBDB}
.mail-2:before{border-top: 1em solid #2c2c2c}
.mail-3:before {border-top: 1em solid #EB9292}
.mail-4:hover {border-top: 1em solid #FABE00}
.footer-banner {height: 55px;padding: 0;margin-top: -18px;margin-left: 30px;float: left;border: 2px solid gray;cursor: pointer}
